@model MostafaProject.Models.Book

@{
    ViewData["Title"] = "ایجاد کتاب";
}

<h1>ایجاد کتاب جدید</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="BookName" class="form-control mb-2" placeholder="نام کتاب"/>
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Author" class="form-control mb-2" placeholder="نام نویسنده"/>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Description" class="form-control mb-2" placeholder="توضیحات کتاب"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Price" class="form-control mb-2" placeholder="قیمت کتاب"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
