@model Book

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <span class="alert alert-success">خرید کتاب @Model.BookName با موفقیت انجام شد</span>
</div>
